<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="">
        <a class="local" href="/" data-index="home"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a class="local" href="/streamer" data-index="streamer"><span class="glyphicon glyphicon-user"></span> Streamer</a>
      </li>
      <li>
        <a href="https://github.com/zaheer15351/twitch"><span class="glyphicon glyphicon-user"></span> GitHub Source</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://www.linkedin.com/in/zaheer15351/"><span class="fa fa-linkedin"></span> Zaheer</a>
      </li>
    </ul>
  </div>
</nav>
